PORT=5001
NODE_ENV=development
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_ANON_KEY=your-supabase-anon-key
CLIENT_URL=http://localhost:5173
BACKEND_URL=http://localhost:5001
PHONEPE_MERCHANT_ID=M234BFDRI0N1I_2609102233
PHONEPE_SALT_KEY=5f95d8c9-f44a-4131-87e3-6b715679078e
PHONEPE_SALT_INDEX=1
PHONEPE_HOST_URL=https://api-preprod.phonepe.com/apis/pg-sandbox
RAZORPAY_KEY_ID=rzp_test_TaPipYug8QFFpU
RAZORPAY_KEY_SECRET=your-razorpay-key-secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=
